-# Componente Listas de bloqueo de Instancias
- know_more = t('.know_more')
- instances_blocked = t('.instances_blocked')
.card.mt-3.mb-3
  .card-body
    = render 'components/checkbox', id: state.id, name: 'fediblock_states_ids[]', value: state.id, checked: state.enabled? do
      %span.h4.mb-0= blocklist.title

      %dl.mb-0
        %dt.d-inline= instances_blocked
        %dd.d-inline.font-weight-normal= blocklist.hostnames.count
      %p.mb-0.font-weight-normal
        %a{ href: blocklist.url }= know_more
