-# Componente Botonera de Comentarios

- local = { reject: { data: { confirm: t('.confirm_reject') } }, report: { class: 'ml-auto', data: { confirm: t('.confirm_report') } } }

.d-flex.flex-row
  - ActivityPub.events.each do |event|
    - possible = activity_pub.public_send(:"may_#{event}?")
    %div{ class: local.dig(event, :class) }
      = render 'components/btn_base',
        text: t(".text_#{event}"),
        path: public_send(:"site_activity_pub_#{event}_path", activity_pub_id: activity_pub),
        class: ('btn-secondary' if possible),
        disabled: !possible,
        data: local.dig(event, :data)
