-#
  @param :text [String] Contenido del botón
  @param :button_classes [Array] Clases para el botón
  @param :dropdown_classes [Array] Clases para el listado
  @yield Un bloque que renderiza components/dropdown_item
- button_classes = local_assigns[:button_classes]&.join(' ')
- dropdown_classes = local_assigns[:dropdown_classes]&.join(' ')

.btn-group{
    data: {
      controller: 'dropdown'
    }
  }
  %button.btn.btn-outline-secondary.dropdown-toggle{
    type: 'button',
    class: button_classes,
    data: {
      toggle: 'true',
      display: 'static',
      action: 'dropdown#toggle',
      target: 'dropdown.button'
    },
    aria: {
      expanded: 'false'
    }
  }
    = text
  .dropdown-menu{
    class: dropdown_classes,
    data: {
      target: 'dropdown.dropdown'
    }
  }
    = yield
