-#
  @params form [String]

- current_state = params[:state]&.to_sym || InstanceModeration.states.first

.d-flex.flex-row.justify-content-between.py-2
  - if InstanceModeration.transitionable_events(current_state).present?
    = render 'components/dropdown', text: t('.text_checked') do
      = render 'components/instances_checked_submenu', form: form, current_state: current_state

  = render 'components/dropdown', text: t('.text_show') do
    = render 'components/instances_show_submenu', instance_moderations: instance_moderations
