-# Componente botonera de moderación de Instancias

- local_data = {}
- InstanceModeration.events.each do |event|
  - possible = instance_moderation.public_send(:"may_#{event}?")
  = render 'components/btn_base',
    path: public_send(:"site_instance_moderation_#{event}_path", instance_moderation_id: instance_moderation),
    text: t(".text_#{event}"),
    class: ('btn-secondary' if possible),
    disabled: !possible,
    data: local_data[event]
