-#
  @params form [String]

- InstanceModeration.transitionable_events(current_state).each do |event|
  = render 'components/dropdown_button', text: t(".submenu_#{event}"), name: 'instance_moderation_action', value: event, form: form
