-# Componente Botonera de Moderación de Cuentas (Remote_profile)
.d-flex.flex-row.w-100
  - local = { report: { class: 'ml-auto', data: { confirm: t('.confirm_report') } } }
  - ActorModeration.events.each do |actor_event|
    - possible = actor_moderation.public_send(:"may_#{actor_event}?")
    %div{ class: local.dig(actor_event, :class) }
      = render 'components/btn_base',
        text: t(".text_#{actor_event}"),
        path: public_send(:"site_actor_moderation_#{actor_event}_path", actor_moderation_id: actor_moderation),
        class: ('btn-secondary' if possible),
        disabled: !possible,
        data: local.dig(actor_event, :data)
