- ActorModeration.states.each do |actor_state|
  = render 'components/dropdown_item',
    text: t(".submenu_#{actor_state}", count: actor_moderations.unscope(where: :aasm_state).public_send(actor_state).count),
    path: filter_states(actor_state: actor_state),
    class: ('active' if active?(ActorModeration.states, :actor_state, actor_state))
