-#
  @params form [String]

- current_state = params[:actor_state]&.to_sym || ActorModeration.states.first

.d-flex.flex-row.justify-content-between.py-2
  - if ActorModeration.transitionable_events(current_state).present?
    = render 'components/dropdown', text: t('.text_checked') do
      = render 'components/profiles_checked_submenu', form: form, current_state: current_state

  = render 'components/dropdown', text: t('.text_show') do
    = render 'components/profiles_show_submenu', actor_moderations: actor_moderations
