-#
  Contenedor para las acciones en masa.

  Es un formulario auto-contenido, que permite colocar los elementos
  fuera del formulario para evitar anidarlos. Mientras los elementos
  tengan el atributo `form` con el mismo parámetro `form_id`, el
  navegador los va a asignar a este formulario.

  @param path [String]
  @param form [String]

= form_tag path, id: form, method: :patch do
  -# nada
