%p= t('.hi')
%p= t('.message')
%p= t('.reason')
= params[:maintenance].to_html
%p= t('.estimated_from_html', from: params[:maintenance].estimated_from, time_is: params[:maintenance].estimated_from_time_is)
%p= t('.estimated_to_html', to: params[:maintenance].estimated_to, time_is: params[:maintenance].estimated_to_time_is)
