= t('.hi').html_safe
\
= t('.message').html_safe
\
= t('.reason').html_safe
\
= params[:maintenance].message.html_safe
\
= t('.estimated_from', from: params[:maintenance].estimated_from, time_is: params[:maintenance].estimated_from_time_is).html_safe
\
= t('.estimated_to', to: params[:maintenance].estimated_to, time_is: params[:maintenance].estimated_to_time_is).html_safe
\
