= content_for :body do
  - 'black-bg'

= render 'devise/shared/error_messages', resource: resource

.row.align-items-center.justify-content-center.full-height
  .col-md-6.align-self-center
    %h2= t('.sign_up')
    %p= t('.help')

    = form_for(resource,
      as: resource_name,
      url: registration_path(resource_name, params: { locale: params[:locale] })) do |f|

      .form-group
        = f.label :email, class: 'sr-only'
        = f.email_field :email, autofocus: true, autocomplete: 'email',
          class: 'form-control',
          placeholder: t('activerecord.attributes.usuarie.email')

      - password = 'activerecord.attributes.usuarie.password'

      .form-group
        = f.label :password, class: 'sr-only'
        = f.password_field :password, autocomplete: 'new-password',
          class: 'form-control', min: @minimum_password_length,
          aria: { describedby: 'minimum-password-length' },
          placeholder: t(password)
        - if @minimum_password_length
          %small.text-muted.form-text#minimum-password-length
            = t('devise.shared.minimum_password_length',
              count: @minimum_password_length)

      .form-group
        = f.label :password_confirmation, class: 'sr-only'
        = f.password_field :password_confirmation,
          autocomplete: 'new-password',
          class: 'form-control',
          min: @minimum_password_length,
          aria: { describedby: 'minimum-password-length' },
          placeholder: t("#{password}_confirmation")

      .form-group
        - Usuarie::CONSENT_FIELDS.each do |field|
          - required = t(".#{field}.required", default: '').present?
          - id = "usuarie_#{field}"
          - name = "usuarie[#{field}]"
          - content = t(".#{field}.label")
          - href = t(".#{field}.href", default: '')
          - help_content = t(".#{field}.help")
          = render 'bootstrap/custom_checkbox', id: id, name: name, content: content, required: required, value: "1" do
            - if href.present?
              = link_to help_content, href, target: '_blank', rel: 'noopener'
            - else
              = help_content

      .actions
        = f.submit t('.sign_up'),
          class: 'btn btn-secondary btn-lg btn-block'

    = render 'devise/shared/links'
