- help_id = "#{id}_help"

.custom-control.custom-checkbox
  %input.custom-control-input{ id: id, type: 'checkbox', name: name, value: value, required: required }
  %label.custom-control-label{ for: id, aria: { describedby: help_id } }= content
  %small.form-text.text-muted{ id: help_id }= yield
