<% if @data[:javascript_backtrace] %>
<% @data.dig(:params, 'errors')&.each do |error| %>
# <%= error['type'] %>: <%= error['message'] %>

```
<%= Terminal::Table.new headings: error['backtrace'].first.keys, rows: error['backtrace'].map(&:values) %>
```

<% end %>

<%= @data.dig(:params, 'context', 'userAgent') %>

<<%= @data.dig(:params, 'context', 'url') %>>

<% else %>
```ruby
<%= raw PP.pp(@data, "") %>
```
<% end %>
