.row.justify-content-center
  .col-12.col-md-8
    %h1= t('.profile')
    = render 'components/actor', remote_profile: @remote_profile
  .col-12.col-md-8
    = render 'components/profiles_btn_box', actor_moderation: @actor_moderation
  .col-12.col-md-8
    = render 'moderation_queue/comments', site: @site, moderation_queue: @moderation_queue
