-# Formulario para alojar una copia a www

.row
  .col
    = deploy.hidden_field :id
    = deploy.hidden_field :type

    .custom-control.custom-switch
      -#
        El checkbox invierte la lógica de destrucción porque queremos
        crear el deploy si está activado y destruirlo si está
        desactivado.
      = deploy.check_box :_destroy,
        { checked: deploy.object.persisted?, class: 'custom-control-input' },
        '0', '1'
      = deploy.label :_destroy, class: 'custom-control-label' do
        %h3= t('.title')
    = sanitize_markdown t('.help', fqdn: deploy.object.fqdn),
      tags: %w[p strong em a]
%hr/
