-# Publicar a la web distribuida

.row
  .col
    = deploy.hidden_field :id
    = deploy.hidden_field :type
    .custom-control.custom-switch
      -#
        El checkbox invierte la lógica de destrucción porque queremos
        crear el deploy si está activado y destruirlo si está
        desactivado.
      = deploy.check_box :_destroy,
        { checked: deploy.object.persisted?, class: 'custom-control-input' },
        '0', '1'
      = deploy.label :_destroy, class: 'custom-control-label' do
        %h3= t('.title')
    = sanitize_markdown t('.help', public_url: deploy.object.site.url),
      tags: %w[p strong em a]


%hr/
