-#
  Formulario para alojamiento local.  Como el alojamiento local no es
  opcional aun, solo enviamos el tipo con el formulario, no necesitamos
  nada más.

.row
  .col
    %h3= t('.title')
    = sanitize_markdown t('.help', fqdn: deploy.object.site.hostname),
      tags: %w[p strong em a]

    = deploy.hidden_field :type
