.form-group
  = label_tag "#{base}_#{attribute}", post_label_t(attribute, post: post)
  = date_field base, attribute, value: metadata.value.strftime('%F'),
    **field_options(attribute, metadata), pattern: '\d{4}-\d{2}-\d{2}',
    data: { 'pattern-mismatch': t('metadata.date.invalid_format') }
  = render 'posts/attribute_feedback',
    post: post, attribute: attribute, metadata: metadata
