.row{ data: { controller: 'geo' } }
  .col-12.mb-3
    %p.mb-0= post_label_t(attribute, post: post)
    = render 'posts/attribute_feedback',
      post: post, attribute: attribute, metadata: metadata
  .col
    .form-group
      = label_tag "#{base}_#{attribute}_lat",
        post_label_t(attribute, :lat, post: post)
      = text_field(*field_name_for(base, attribute, :lat),
        value: metadata.value['lat'],
        **field_options(attribute, metadata),
        data: { target: 'geo.lat' })
      = render 'posts/attribute_feedback',
        post: post, attribute: [attribute, :lat], metadata: metadata
  .col
    .form-group
      = label_tag "#{base}_#{attribute}_lng",
        post_label_t(attribute, :lng, post: post)
      = text_field(*field_name_for(base, attribute, :lng),
        value: metadata.value['lng'],
        **field_options(attribute, metadata),
        data: { target: 'geo.lng' })
      = render 'posts/attribute_feedback',
        post: post, attribute: [attribute, :lng], metadata: metadata
  .col-12.mb-3
    %div{ data: { target: 'geo.map' }, style: 'height: 250px' }
