.form-group.markdown-content
  = label_tag "#{base}_#{attribute}", post_label_t(attribute, post: post)
  = render 'posts/attribute_feedback',
    post: post, attribute: attribute, metadata: metadata
  = text_area_tag "#{base}[#{attribute}]", metadata.value,
    dir: dir, lang: locale,
    **field_options(attribute, metadata, class: 'content')
  .markdown-editor.mt-1
