.form-group
  = label_tag "#{base}_#{attribute}", post_label_t(attribute, post: post)
  = render 'posts/attribute_feedback',
    post: post, attribute: attribute, metadata: metadata

  .new-editor.content{ id: attribute }
    = text_area_tag "#{base}[#{attribute}]", metadata.to_s.html_safe,
      dir: dir, lang: locale,
      **field_options(attribute, metadata), class: 'd-none'
