-# Editor de contenido
= render 'posts/attributes/new_content',
  base: 'post', post: post, attribute: attribute,
  metadata: metadata, site: site,
  dir: dir, locale: locale,
  autofocus: (post.attributes.first == attribute)
