.form-group
  = label_tag "#{base}_#{attribute}", post_label_t(attribute, post: post)

  .mapable{ dir: dir, lang: locale,
    data: { values: metadata.value.to_json,
    'default-values': metadata.values.to_json,
    name: "#{base}[#{attribute}][]", list: id_for_datalist(attribute),
    remove: 'false', legend: post_label_t(attribute, post: post),
    button: t('posts.attributes.add'),
    described: id_for_help(attribute) } }

    = text_field(*field_name_for(base, attribute, '[]'),
      value: metadata.value.join(', '),
      dir: dir, lang: locale,
      **field_options(attribute, metadata))

  = render 'posts/attribute_feedback',
    post: post, attribute: attribute, metadata: metadata

  %datalist{ id: id_for_datalist(attribute) }
    - metadata.values.keys.each do |value|
      %option{ value: value }
