= content_for :body do
  - 'black-bg'

= render 'devise/shared/error_messages', resource: resource

.row.align-items-center.justify-content-center.full-height
  .col-md-5.align-self-center
    .sr-only
      %h2= t('.forgot_your_password')
      %p= t('.help')

    = form_for(resource,
      as: resource_name,
      url: password_path(resource_name),
      html: { method: :post }) do |f|
      .form-group
        = f.label :email, class: 'sr-only'
        = f.email_field :email, autofocus: true, autocomplete: 'email',
          class: 'form-control',
          placeholder: t('activerecord.attributes.usuarie.email')
      .actions
        = f.submit t('.send_me_reset_password_instructions'),
          class: 'btn btn-secondary btn-lg btn-block'
    = render 'devise/shared/links'
