%tr{ id: attribute }
  %th= post_label_t(attribute, post: post)
  %td
    - if metadata.value.respond_to? :each
      - metadata.value.each do |v|
        %span.badge.badge-primary= v
    - else
      %span.badge.badge-primary{ lang: locale, dir: dir }= metadata.value
