%tr{ id: attribute }
  %th
    %abbr{ title: t('lockbox.help.description') }
      &#128274;
      %span.sr-only= t('lockbox.help.title')
    = post_label_t(attribute, post: post)
  %td{ dir: dir, lang: locale }= metadata.value
