%tr{ id: attribute }
  %th= post_label_t(attribute, post: post)
  %td
    %dl
      - %i[dtstart dtend].each do |dt|
        %dt= post_label_t(attribute, dt, post: post)
        %dl= Time.parse %w[date time zone].map { |x| metadata.value[dt.to_s][x] }.join(' ')
