- lat = metadata.value['lat']
- lng = metadata.value['lng']
%tr{ id: attribute }
  %th= post_label_t(attribute, post: post)
  %td
    = link_to t('posts.attributes.geo.uri'), "geo:#{lat},#{lng}"
    %br/
    = link_to t('posts.attributes.geo.osm'),
      "https://www.openstreetmap.org/?mlat=#{lat}&mlon=#{lng}#map=9/#{lat}/#{lng}"
