%tr{ id: attribute }
  %th= post_label_t(attribute, post: post)
  %td
    %ul{ dir: dir, lang: locale }
      - metadata.has_many.each do |p|
        %li= link_to p.title.value, site_post_path(site, p.id)
