%tr{ id: attribute }
  %th= post_label_t(attribute, :path, post: post)
  %td
    - if metadata.value['path'].present?
      %figure
        = image_tag url_for(metadata.static_file),
          alt: metadata.value['description'],
          class: 'img-fluid'
        %figcaption{ dir: dir, lang: locale }= metadata.value['description']
