- if site.locales.count > 1
  %tr{ id: attribute }
    %th= post_label_t(attribute, post: post)
    %td
      %ul
        - metadata.value.each do |uuid|
          - p = site.docs.find(uuid, uuid: true)
          %li{ dir: t("locales.#{p.lang.value}.dir"), lang: p.lang.value }
            = link_to p.title.value,
              site_post_path(site, p.id, locale: p.lang.value)
