%tr{ id: attribute }
  %th= post_label_t(attribute, post: post)
  %td
    %ul{ dir: dir, lang: locale }
      - metadata.value.each do |v|
        - p = site.posts(lang: post.lang.value).find(v, uuid: true)
        -#
          XXX: Ignorar todos los posts no encontrados (ej: fueron
          borrados o el uuid cambió)
        - next unless p
        %li= link_to p.title.value, site_post_path(site, p.id)
