.form-group
  = label_tag name.join('_'), id: name.join('_') do
    - if template.private?
      = fa_icon 'lock', title: t('posts.private')
    = template.label
    - if template.help
      %small.text-muted.form-text= template.help
  = render "posts/template_field/#{template.type}",
    template: template,
    name: name,
    value: value,
    nested: true
