= number_field_tag field_name_for_post_as_string(name),
  value,
  class: 'form-control',
  required: template.required?,
  max: template.max > 0 ? template.max : nil,
  min: template.min
- if template.max > 0
  %small= raw t('posts.number.max', max: template.max)
