#queries
  %table.table
    %tbody.list
      - @queries.each do |query|
        %tr
          -#
            Por alguna razón no tenemos acceso a query_path para poder
            generar la URL según Rails
          %td= link_to query[:name], "/sites/#{params[:site_id]}/stats/queries/#{query.to_param}"
