%main.row
  %aside.menu.col-md-3
    = render 'sites/header', site: @site
  .col
    %h1= t('.title')

    %table.table
      %thead
        %tr
          - @headers.each do |header|
            %th{ scope: 'col' }= header
      %tbody
        - @table.each do |row|
          - row[:urls].each do |url|
            %tr
              %th{ scope: 'row' }= row[:title]
              %td= link_to_if (url.present? && url.scheme.present?), url.to_s, url.to_s, class: 'word-break-all'
              %td
                %time{ datetime: row[:seconds][:machine] }= row[:seconds][:human]
              %td= row[:size]
