.form-group
  = label_tag 'custom_blocklist', t('moderation_queue.instances.custom_block')
  = text_area_tag 'custom_blocklist', nil, class: 'form-control', placeholder: t('moderation_queue.instances.custom_block_placeholder')
