- form_id = 'activity_pub_action_on_several'

= render 'components/select_all_container', path: site_activity_pubs_action_on_several_path, form: form_id

.row.no-gutters.pt-2{ data: { controller: 'select-all' } }
  .col-1.d-flex.align-items-center
    = render 'components/select_all', id: 'select-all-comments', form: form_id
  .col-11
    -# Filtros
    = render 'components/comments_filters', activity_pubs: moderation_queue, form: form_id
  .col-12
    - if moderation_queue.count.zero?
      %h4= t('moderation_queue.nothing')
    - moderation_queue.each do |activity_pub|
      - next if activity_pub.object.content.empty?
      - next if activity_pub.actor.content.empty?
      %hr
      = render 'moderation_queue/comment', comment: activity_pub.object.content, profile: activity_pub.actor.content, activity_pub: activity_pub, form: form_id, site: site, object: activity_pub.object
