- usuaries   = instance.content.dig('usage', 'users', 'active_month')
- usuaries ||= instance.content.dig('stats', 'user_count')
- title      = sanitize(instance.content['title'])

.row.no-gutters.pt-2
  .col-1
    = render 'components/checkbox', id: instance.hostname, form: form, name: 'instance_moderation[]', value: instance_moderation.id, data: { target: 'select-all.input' }
  .col-11
    - cache [instance_moderation, instance] do
      %h4
        %a{ href: instance.uri }= title || instance.hostname
        - if title.present?
          = "&nbsp;(#{instance.hostname})".html_safe
      .content
        = sanitize instance.content['description']
      - if usuaries.present?
        %dl
          %dt.d-inline= t('.users')
          %dd.d-inline= text_plain usuaries.to_s

    -# Botones moderación
    .d-flex.pb-4
      = render 'components/instances_btn_box', instance_moderation: instance_moderation
