= content_for :body do
  - 'black-bg'

= render 'devise/shared/error_messages', resource: resource

.row.align-items-center.justify-content-center.full-height
  .col-md-5.align-self-center
    %h2= t 'devise.invitations.new.header'
    = form_for(resource,
      as: resource_name,
      url: invitation_path(resource_name),
      html: { method: :post }) do |f|
      - resource.class.invite_key_fields.each do |field|
        .form-group
          = f.label field
          = f.text_field field, class: 'form-control'
      .actions
        = f.submit t('devise.invitations.new.submit_button'),
          class: 'btn btn-secondary btn-lg btn-block'
