- invalid_help = site.config.fetch('invalid_help', t('.invalid_help'))
- sending_help = site.config.fetch('sending_help', t('.sending_help'))
.form-group
  = submit_tag t('.save'), class: 'btn btn-secondary submit-post'
  = render 'bootstrap/alert', class: 'invalid-help d-none' do
    = invalid_help
  = render 'bootstrap/alert', class: 'sending-help d-none' do
    = sending_help
