.row.justify-content-center
  .col-md-8
    - if policy(@site).edit?
      = render 'layouts/details', summary: t('posts.edit.post') do
        = render 'posts/form', site: @site, post: @post
      = render 'layouts/details', summary: t('posts.edit.moderation_queue') do
        = render 'posts/moderation_queue', site: @site, post: @post, moderation_queue: @moderation_queue
    - else
      = render 'posts/form', site: @site, post: @post
