- dir = @site.data.dig(params[:locale], 'dir')
.row.justify-content-center
  .col-md-8
    %article.content.table-responsive-md
      = link_to t('posts.edit_post'),
        edit_site_post_path(@site, @post.id),
        class: 'btn btn-secondary btn-block'

      %table.table.table-condensed
        %thead
          %tr
            %th.text-center{ colspan: 2 }= t('.front_matter')
        %tbody
          - @post.attributes.each do |attr|
            - metadata = @post[attr]
            - next unless metadata.front_matter?

            - cache [metadata, I18n.locale] do
              = render("posts/attribute_ro/#{metadata.type}",
                       post: @post, attribute: attr,
                       metadata: metadata,
                       site: @site,
                       locale: @locale,
                       dir: dir)

      -# Mostrar todo lo que no va en el front_matter (el contenido)
      - @post.attributes.each do |attr|
        - metadata = @post[attr]
        - next if metadata.front_matter?

        - cache [metadata, I18n.locale] do
          %section.content.pb-3{ id: attr, dir: dir }
            = @post.public_send(attr).to_s.html_safe
