$black: black;
$white: white;
$cyan: #13fefe;

:root {
  --foreground: #{$white};
  --background: #{$black};
  --color: #{$cyan};
}

.btn {
  background-color: $white;
}

.btn-secondary {
  background-color: $white;
  color: $black;
  border: none;

  &:hover {
    color: $black;
    background-color: $cyan;
  }

  &:active {
    background-color: $cyan;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem $cyan;
  }
}


