- site = @resource.roles.where(temporal: true).last&.site

= t('devise.mailer.invitation_instructions.hello', email: @resource.email)
\
= t('devise.mailer.invitation_instructions.someone_invited_you',
  url: site.hostname)
\
= site.title
\
= site.description
\
- if @resource.needs_invitation_link?
  = accept_invitation_url(@resource, invitation_token: @token, change_locale_to: @resource.lang)
  \
  - if @resource.invitation_due_at
    = t('devise.mailer.invitation_instructions.accept_until',
      due_date: l(@resource.invitation_due_at,
      format: :'devise.mailer.invitation_instructions.accept_until_format'))
  \
  = t('devise.mailer.invitation_instructions.ignore')
- elsif !@resource.confirmed? && @resource.confirmation_token
  = confirmation_url(@resource, confirmation_token: @resource.confirmation_token, change_locale_to: @resource.lang)
- else
  = root_url(change_locale_to: @resource.lang)
  = t('devise.mailer.invitation_instructions.sign_in')
