- if policy(ModerationQueue.new(site)).index?
  - moderation_needed = site.moderation_needed?

  - local_assigns[:class] = "btn btn-secondary #{local_assigns[:class]}"
  = link_to site_moderation_queue_path(site), class: local_assigns[:class], title: (t('.moderation_needed') if moderation_needed) do
    = t('moderation_queue.index.title')
    - if moderation_needed
      %span.primary &#x23FA;
      %span.sr-only= t('.moderation_needed')
