.row.justify-content-center
  .col-md-8#pull
    %h1= t('.title')
    %p.lead= sanitize_markdown t('.help.fetch'), tags: %w[em strong a]

    %h2= t('.toc')
    %ul.toc
      - @commits.each do |commit|
        %li= link_to commit.summary, "##{commit.oid}"

- @commits.each do |commit|
  .row.justify-content-center
    .col-md-8{ id: commit.oid }
      %h1= commit.summary
      %p.lead= render 'layouts/time', time: commit.time

      -#
        No hay forma de obtener el cuerpo del commit separado del
        resumen, cortamos por el primer salto de línea doble y obtenemos
        todo lo demás
      = sanitize_markdown commit.message.split("\n\n", 2).last,
        tags: %w[p a h1 h2 h3 h4 h5 h6 ol ul li strong em]

      %hr

- unless @commits.empty?
  .row.justify-content-center
    .col-md-8
      = link_to t('.merge.request'), site_pull_path(@site),
        method: 'post', class: 'btn btn-secondary btn-lg'
