%nav.navbar
  %a.navbar-brand.d-none.d-sm-block{ href: '/' }
    = inline_svg_tag 'sutty.svg', class: 'black', aria: true,
      title: t('svg.sutty.title'), desc: t('svg.sutty.desc')

  %nav{ aria: { label: t('.title') } }
    %ol.breadcrumb.m-0.flex-wrap
      - breadcrumb_trail do |crumb|
        %li.breadcrumb-item{ class: crumb.current? ? 'active' : '' }
          - if crumb.current?
            %span.line-clamp-1{ aria: { current: 'page' } }= crumb.name
          - else
            %span.line-clamp-1= link_to crumb.name, crumb.url

  - if @current_usuarie || current_usuarie
    %ul.navbar-nav.flex-row
      - if @site&.tienda?
        %li.nav-item
          = link_to t('.tienda'), @site.tienda_url,
            role: 'button', class: 'btn btn-secondary'

      %li.nav-item
        = link_to t('.contact_us'), t('.contact_us_href'),
          class: 'btn btn-secondary', rel: 'me', target: '_blank'

      %li.nav-item
        = link_to t('.logout'), main_app.destroy_usuarie_session_path,
          method: :delete, role: 'button', class: 'btn btn-secondary'
  - else
    - params.permit!
    - I18n.available_locales.each do |locale|
      - next if locale == I18n.locale
      = link_to t("switch_locale.#{locale}"), params.to_h.merge(change_locale_to: locale)
