-#
  Detail Cola de Moderación

  @param :id [String] El ID opcional sirve para mantener el historial de
  cuál estaba abierto y recuperarlo al cargar la página
  @param :summary [String] El resumen
  @param :summary_class [String] Clases para el summary

- local_assigns[:summary_class] ||= 'h3'

%details.details.py-2{ id: local_assigns[:id], data: { controller: 'details', action: 'toggle->details#store' } }
  %summary.d-flex.flex-row.align-items-center.justify-content-between{ class: local_assigns[:summary_class] }
    %span= summary
    %span.hide-when-open &#x25B6;
    %span.show-when-open &#x25BC;
  = yield
