-# DEPRECADO
.alert.alert-info.alert-dismissible.fade.show{role: 'alert'}
  - if help.respond_to? :each
    %ul
      - help.each do |h|
        %li= raw h
  - else
    = raw help
  %button.close{type: 'button',
    data: { dismiss: 'alert' },
    'aria-label': t('help.close') }
    %span{'aria-hidden': true} &times;
