- unless current_usuarie
  - params.permit!
  - I18n.available_locales.each do |locale|
    - url = url_for(**params.to_h.merge(change_locale_to: locale), only_path: false)
    - if locale == I18n.default_locale
      %link{ rel: 'alternate', hreflang: 'x-default', href: url }
    %link{ rel: 'alternate', hreflang: locale, href: url }
