!!!
%html{ lang: I18n.locale, dir: t('dir') }
  %head
    %meta{ charset: 'UTF-8' }/
    %meta{ content: 'text/html; charset=UTF-8',
           'http-equiv': 'Content-Type' }/
    %meta{ name: 'color-scheme', content: 'light' }/
    %meta{ name: 'viewport',
           content: 'width=device-width, initial-scale=1.0' }/
    %meta{ name: 'referrer', content: 'same-origin' }/

    %title Sutty

    %script{ type: 'text/javascript', src: '/env.js' }
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'dark', rel: 'alternate stylesheet', media: 'all', 'data-turbolinks-track': 'reload', title: t('dark')
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'sutty_cuadrada.png', rel: 'apple-touch-icon', type: 'image/png'
    = render 'layouts/link_rel_alternate'

  %body{ class: yield(:body) }
    .container-fluid#sutty
      = render 'layouts/breadcrumb'
      = render 'layouts/flash'

      = yield

      - if flash[:js]
        .js-flash.d-none{ data: flash[:js] }
