!!!
%html
  %head
    %meta{ content: 'text/html; charset=utf-8',
           'http-equiv': 'Content-Type' }/
    :css
      /* Inline */
  %body
    = yield

    = image_tag attachments['logo.png'].url, alt: 'Logo de Sutty'
    = t('.signature')
